<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">后台管理平台</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <a th:href="'index'"><i class="glyphicon glyphicon-dashboard"></i> 后台管理</a>
                    </li>
                    <li class="list-group-item">
                        <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 学员管理
                            <span class="badge" style="float:right"></span>
                        </span>
                        <ul style="margin-top:10px;">
                            <li style="height:30px;">
                                <a th:href="'student.html'" style="color:red;"><i class="glyphicon glyphicon-user"></i>学员列表</a>
                            </li>
                        </ul>
                    </li>

                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i>教师管理<span class="badge" style="float:right"></span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="toTeacher.html"><i class="glyphicon glyphicon-check"></i> 教师列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addTeacher.html"><i class="glyphicon glyphicon-check"></i> 添加讲师</a>
                            </li>
                        </ul>
                    </li>


                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 课程管理 <span class="badge"
                                                                                      style="float:right"></span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 专业管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 课程管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 添加教师</h3>
                </div>
                <div class="panel-body">
                    <form id="queryTeacher" action="toTeacher.html" class="form-inline" role="form" style="float:left;" method="post">
                        <div class="form-group has-feedback">

                            <label for="name">讲师名称：</label>
                            <div id="name" class="input-group">
                                <input name="name" style="width: 300px" class="form-control" type="text" placeholder="讲师名称">
                            </div><br/><br/>

                            <label for="education">讲师资历：</label>
                            <div id="education" class="input-group">
                                <textarea name="education" style="width:300px;height:50px;" placeholder="讲师资历"></textarea>
                            </div><br/><br/>

                            <label for="subjectId">讲师专业：</label>
                            <div id="subjectId" class="input-group">
                                <input name="subjectId" style="width: 180px" class="form-control has-success" type="text" placeholder="讲师专业">
                            </div><br/><br/>

                            <label for="isStar">讲师等级：</label>
                            <div id="isStar" class="input-group">
                                <select name="isStar" class="form-control">
                                    <option value="1">高级讲师</option>
                                    <option value="2">首席讲师</option>
                                </select>
                            </div><br/><br/>

                            <label for="sort">讲师排序：</label>
                            <div id="sort" class="input-group">
                                <input name="sort" style="width: 150px" class="form-control has-success" type="text" placeholder="0">
                            </div><br/><br/>

                            <label for="career">讲师简介：</label>
                            <div id="career" class="input-group">
                                <textarea name="career" style="width:500px;height:100px;" placeholder="讲师简介"></textarea>
                            </div><br/><br/>
                            <label for="picPath">讲师头像：</label>
                            <div id="picPath" class="input-group">
                                <img src="/img/2.jpg"/>
                                <input name="picPath" type="file">
                            </div><br/><br/>

                        </div><br/><br/>
                        <button onclick="search()" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i>查询</button>
                        <button onclick="reloadForm()" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-refresh"></i>清空</button>
                    </form>


                    <br>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });

    var teacherJson = {};

    //根据查询条件查询对应的教师
    function search() {

        $("#queryTeacher").submit();

        /*teacherJson.name = $("#name").val();
        teacherJson.createTime = $("#createTime").val();
        teacherJson.updTime = $("#updateTime").val();

        $.ajax({
            type: "post",
            url:"searchTeacher",
            data:json,
            success:function (result) {
                if(result.success) {
                    window.location.href = "http://manage.edu.com/"
                }
            }
        });*/
    }

    function reloadForm() {
        $("#queryTeacher").submit();
    }


    /*图片上传控件*/
    function initUploader() {

        console.log("初始化上传控件");
        /**/
        var spuImgDg = $("#picPath");
        //初始化上传控件
        var spuImgUploader = WebUploader.create({
            auto: false,
            // swf文件路径
            swf: '/webuploader/Uploader.swf',
            // 文件接收路径,实际上就是控制器的路径
            server: '/fileUpload',
            // 选择文件的按钮。
            pick: '#spuImgAdd',
            // 不压缩image, 默认如果是jpg，文件上传前会压缩一把再上传！
            resize: false,
            //设定文件大小上限 2M
            fileSingleSizeLimit: 2 * 1024 * 1024,
            //可接受的文件类型
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        console.log("初始化文件上传控件的响应--fileQueued");


        //当用户选择了文件以后，表格要进行增行
        spuImgUploader.on('fileQueued', function (file) {
            console.log("用户增加文件:" + file.id + '||' + file.name);
            var row = {
                fileId: file.id,
                imgName: file.name
            }
            /*给数据表格新增一行
            spuImgDg.datagrid('appendRow',{id:'',valueName:''});*/
            spuImgDg.datagrid('appendRow', row);
        });


        //上传过程中，该进度会反复触发
        spuImgUploader.on('uploadProgress', function (file, percentage) {

            var rowIndex = spuImgDg.datagrid('getRowIndex', file.id);

            var progessRow = {progress: (percentage * 100).toFixed(2)};

            spuImgDg.datagrid('updateRow', {index: rowIndex, row: progessRow});
        });


        // 上传成功时，要把生成的图片路径返回给表格的行中的url
        console.log("初始化文件上传控件的响应--uploadSuccess");
        spuImgUploader.on('uploadSuccess', function (file, response) {
            console.log("上传完成：" + file.id + "||" + response._raw);
            var fileId = file.id;
            var rowIndex = spuImgDg.datagrid('getRowIndex', file.id);//通过file.id查询到行号
            spuImgDg.datagrid('updateRow',
                {
                    index: rowIndex,
                    row: {imgUrl: response._raw}
                });
        });


        $('#spuImgUploadBtn').click(function () {
            console.log("开始上传");
            if (spuImgUploader.getFiles().length <= 0) {
                $.messager().alert('警告', '没有需要上传的文件', 'warning');
                return;
            }
            spuImgUploader.upload();
        });
    }
</script>
</body>
</html>
