<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .tree li {
            list-style-type: none;
            cursor: pointer;
        }

        table tbody tr:nth-child(odd) {
            background: #F4F4F4;
        }

        table tbody td:nth-child(even) {
            color: #C00;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="#">后台管理平台</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle"
                                data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user"></i> 张三 <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-cog"></i> 个人设置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="index.html"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div class="tree">
                <ul style="padding-left:0px;" class="list-group">
                    <li class="list-group-item tree-closed">
                        <a th:href="'index'"><i class="glyphicon glyphicon-dashboard"></i> 后台管理</a>
                    </li>
                    <li class="list-group-item">
                        <span><i class="glyphicon glyphicon glyphicon-tasks"></i> 学员管理
                            <span class="badge" style="float:right"></span>
                        </span>
                        <ul style="margin-top:10px;">
                            <li style="height:30px;">
                                <a th:href="'student.html'" style="color:red;"><i class="glyphicon glyphicon-user"></i>学员列表</a>
                            </li>
                        </ul>
                    </li>

                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-ok"></i>教师管理<span class="badge" style="float:right"></span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="toTeacher.html"><i class="glyphicon glyphicon-check"></i> 教师列表</a>
                            </li>
                            <li style="height:30px;">
                                <a href="addTeacher.html"><i class="glyphicon glyphicon-check"></i> 添加讲师</a>
                            </li>
                        </ul>
                    </li>


                    <li class="list-group-item tree-closed">
                        <span><i class="glyphicon glyphicon-th-large"></i> 课程管理 <span class="badge"
                                                                                      style="float:right"></span></span>
                        <ul style="margin-top:10px;display:none;">
                            <li style="height:30px;">
                                <a href="cert.html"><i class="glyphicon glyphicon-picture"></i> 专业管理</a>
                            </li>
                            <li style="height:30px;">
                                <a href="type.html"><i class="glyphicon glyphicon-equalizer"></i> 课程管理</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 教师列表</h3>
                </div>
                <div class="panel-body">
                    <form id="queryTeacher" action="toTeacher.html" class="form-inline" role="form" style="float:left;" method="post">
                        <div class="form-group has-feedback">
                            <label for="name">讲师名称</label>
                            <div class="input-group">
                                <input id="name" name="name" style="width: 150px" class="form-control has-success" type="text" placeholder="讲师名">
                            </div>
                            <div class="input-group">
                                <select name="status" class="form-control">
                                    <option value="" >请选择</option>
                                    <option value="0">正常</option>
                                    <option value="1">删除</option>
                                </select>
                            </div>

                            <label for="createTime">添加时间</label>
                            <div class="input-group">
                                <input id="createTime" name="createTime" style="width: 180px" class="form-control has-success" type="text" placeholder="开始添加时间">
                            </div>

                            <label for="updateTime">—</label>
                            <div class="input-group">
                                <input id="updateTime" name="updateTime" style="width: 180px" class="form-control has-success" type="text" placeholder="结束添加时间">
                            </div>
                        </div>
                        <button onclick="search()" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i>查询</button>
                        <button onclick="reloadForm()" type="button" class="btn btn-warning"><i class="glyphicon glyphicon-refresh"></i>清空</button>
                    </form>
                    <br>
                    <hr style="clear:both;">
                    <div class="table-responsive">
                        <table class="table  table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>名称</th>
                                <th>头衔</th>
                                <th>资历</th>
                                <th>简介</th>
                                <th>添加时间</th>
                                <th>排序</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="teacher:${teacherList}">
                                    <td width="4%" th:text="${teacher.id}"></td>
                                    <td width="6%" th:text="${teacher.name}">名称</td>
                                    <td width="8%" th:text="${teacher.isStar}==1?'高级讲师':'首席讲师'">头衔</td>
                                    <td width="12%" th:text="${teacher.education}">资历</td>
                                    <td width="35%" th:text="${teacher.career}">简介</td>
                                    <td width="18%" th:text="${teacher.createTime}">添加时间</td>
                                    <td width="5%" th:text="${teacher.sort}">排序</td>
                                    <td width="10%">
                                        <button type="button" class="btn btn-success btn-xs"><i class=" glyphicon glyphicon-pencil" th:text="'修改'"></i></button>
                                        <button th:onclick="'delTeacher('+${teacher.id}+')'" type="button" class="btn btn-primary btn-xs"><i class=" glyphicon glyphicon-remove" th:text="'删除'"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="11" align="center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#">上一页</a></li>
                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">下一页</a></li>
                                    </ul>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function () {
            if ($(this).find("ul")) {
                $(this).toggleClass("tree-closed");
                if ($(this).hasClass("tree-closed")) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });
    });


    //删除教师
    function delTeacher(id) {
        alert(id);
        if (confirm("确认要删除该教师么？")) {
            window.location.href = "/delTeacher?id=" + id;
        }

    }




    var teacherJson = {};

    //根据查询条件查询对应的教师
    function search() {

        $("#queryTeacher").submit();

        /*teacherJson.name = $("#name").val();
        teacherJson.createTime = $("#createTime").val();
        teacherJson.updTime = $("#updateTime").val();

        $.ajax({
            type: "post",
            url:"searchTeacher",
            data:json,
            success:function (result) {
                if(result.success) {
                    window.location.href = "http://manage.edu.com/"
                }
            }
        });*/
    }

    function reloadForm() {
        $("#queryTeacher").submit();
    }


</script>
</body>
</html>
